.screensaver__container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 1s;
}

.screensaver__content {
  display: inline-block;
  top: 0;
  left: 0;
  margin: 0;
  white-space: nowrap;
}

.screensaver__element-content {
  margin: 0;
  padding: 15px;
  background-color: #E3E3D8;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(189, 195, 199, 0.5);
  color: #2c3e50;
  font-size: 28px;
  font-weight: bold;
}

.screensaver__element-wrapper {
  display: block;
  height: auto;
  width: auto;
}

.screensaver__element-wrapper > div {
  display: block;
}
